* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.header {
  box-shadow: 0px 0px 52px -5px rgba(0, 0, 0, 0.63);
  justify-content: space-between;
  background-color: #262626;
  align-items: center;
  font-weight: bold;
  padding: 2vw 3vw;
  flex-wrap: wrap;
  color: white;
  display: flex;
}

.logo {
  font-family: Florencesans SC Cond;
  text-decoration: none;
  font-weight: normal;
  white-space: nowrap;
  font-size: 2.5em;
  color: inherit;
}

.link-wrapper {
  display: inline;
}

.link,
.link-contact {
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}

.link {
  padding: 20px 1vw;
  font-size: 1.2em;
}

.button-contact {
  border: 2px solid #ffffff;
  background-color: inherit;
  border-radius: 5px;
}

.link-contact {
  padding: 16px 27px;
  font-size: 0.8em;
}
